body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.sec-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: azure;
    background-color: darkgreen;
    width: 100%;
}
nav dl dt{
    display: inline;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#222222 ;
    width: 100%;
}
dl{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
a{
    text-decoration: none;
    color: azure;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}
.div-sec-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://images2.thanhnien.vn/528068263637045248/2024/1/25/c3c8177f2e6142e8c4885dbff89eb92a-65a11aeea03da880-1706156293184503262817.jpg");
    color: azure;
    width: 100%;
    height: 500px;
}
img{
    width: 100%;
    height: 250px;
    border-radius: 5px;
}
.sec-main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.div1{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 0px 0px 10px 0px;
}
.p1{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0;
}
button{
    width: 110px;
    padding: 10px;
    border-radius: 5px;
    color: azure;
    background-color: rgb(17, 91, 36);
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: azure;
    background-color:#222222 ;
    height: 50px;
}
